In [1]:
import pandas as pd

data = pd.read_excel("C:\\Users\\anton\\OneDrive\\Área de Trabalho\\Cadastro Abril.xlsx")

print(data)

     SKU PRODUTO       DATA             SITUAÇÃO Quem Fez
0         291216 2024-04-02                   Ok    Jaque
1         292609 2024-04-08                   Ok    Jaque
2         293101 2024-04-02                   Ok    Jaque
3         294372 2024-04-01  Cadastro atualizado    Jaque
4         203021 2024-04-01  Cadastro atualizado    Jaque
..           ...        ...                  ...      ...
889       262411 2024-05-06  Cadastro atualizado    Breno
890       229319 2024-05-06  Cadastro atualizado    Breno
891       229320 2024-05-06  Cadastro atualizado    Breno
892       294883 2024-05-06                   Ok    Breno
893       295850 2024-05-06                   Ok    Breno

[894 rows x 4 columns]